node_modules
**/node_modules
dist
**/dist
.next
**/.next
.git
.env
*.log
coverage
**/coverage

**/.env
**/.env.*
playwright-report
test-results
google-auth
stitch_tfhc_orderliness_tracker
TFHC_Project_Documents

**/.next-e2e
